.label {
  margin-left: 10px;
  margin-bottom: 10px;
}
.form {
  display: flex;
  flex-direction: column;
}
.input {
  margin-left: 10px;
}
.input:focus {
  border: 1px solid var(--main-blue);
  outline: 0;
}
.btn {
  margin-left: 10px;
  max-width: 100px;
  background-color: var(--main-white);
  text-align: center;
  border: 1px solid var(--main-grey);
  border-radius: 10%;
}
.btn:active {
  background-color: var(--main-blue);
  color: var(--main-white);
}
